/* style */
*{
  padding: 0;
  margin: 0;
}

#window{
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 20px;
  margin-left: -500px;
  width: 1000px;
  height: 650px;
  border: 3px solid black;
  z-index: 1;
  background-image: url("assets/window2.png");
  background-size: 100%;
}

#chessBoard{
  position: absolute;
  margin-left: 30px;
  margin-top: calc(650px - 523px - 30px);
  width: 523px;
  height: 521px;
  background-image: url("assets/board2.png");
  background-size: 100%;
}
